.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.img-circle {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.text-danger {
  color: #a94442;
}

.text-dimmed {
  color: $grey-color;
}
